storage '{{ hashicorp_vault_config["storage"]["name"] }}' {
  address = '{{ hashicorp_vault_config["storage"]["address"] }}'
  path    = '{{ hashicorp_vault_config["storage"]["path"] }}'
}

listener '{{ hashicorp_vault_config["listener"]["name"] }}' {
  address     = '{{ hashicorp_vault_config["listener"]["address"] }}'
  tls_disable = '{{ hashicorp_vault_config["listener"]["tls_disable"] }}'
}

telemetry {
  statsite_address = '{{ hashicorp_vault_config["telemetry"]["statsite_address"] }}'
  disable_hostname = '{{ hashicorp_vault_config["telemetry"]["disable_hostname"] }}'
}